.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.ulHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ulHeader li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.usuario li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}