.element {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.element button {
    display: block;
    padding: 10px;
    background-color: #509178; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    margin: 5px;
    width: 200px;
    font-size: 16px;
}

.buttonMovie {
    width: 200px;
    height: 100%;
    background-color: #509178;
    cursor: pointer;
    text-decoration: none !important;
}

.element img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .element {
        width: 100%;
    }

    .element button {
        width: 100%;
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}