.footer{
    background-color: #a2fad8;
    height: 80px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.nombres{
    font-size: 17px;
    color: #509178;
    display: flex;
}
