.moviesList li{
    list-style-type: none;
}

.moviesList {
    display: flex;
    flex-direction: column;
    
}

.loading {
  display: flex;          
  justify-content: center; 
  align-items: center;     
  position: absolute;      
  width: 100%;             
  height: 100%;             
}
  
.loading img {
  width: 100px;  
  height: 100px;
}

section{
    height: 100%;
    display: flex;
}